
body{
    background-color: #f5f5f5;
    font-family: "inter", sans-serif;
}
h3{
    background-color: #3b448a;
    color: white;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 10px;
    padding: 10px;
    margin: 0;
   
    

}
.daily-info{

    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    margin-bottom: 0;

}
li{
    padding-right: 20px;
}
.innerContent{
    margin-left:40px;
}
.topHeader{
    
    display: flex;
}
.total-app, .total-visit{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.app-number{
    color: #127c10;
}
.visit-number{
    color: #ff8472;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    background-color: #f6f9fb
    
}
.container1{
    margin-right: 14px;
    width: 30%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.container2{
    margin-right: 20px;
    width: 70%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;

}
.appointments, .visit{
    margin-left: 10px;
    padding: 10px;
    font-size: 11px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 2.5;
    width: 45%;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: hidden;
    margin-right: 10px;
}

.in-out-patient{
    display: flex;
    opacity: 0.7;
    font-size: 11px;
    width: 45%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
   
}
.in-patient-number{
   font-size: 14px;
   color: #2fa8f4;
   padding-left: 24px; 
}
.out-patient-number{
    font-size: 14px;
   color: #4956c1;
   padding-left: 17px; 
}
.material-symbols-outlined{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    padding: 5px;
    margin-bottom: 10px;
    width: 5%;
}
.benchmarking{
display: flex;
justify-content: space-between;    
}

/*.progress{
    background-color:#7c3210;
    font-size: 10px;
    border-radius: 2px;

}*/

.totalAvg{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11px;
    margin-top: 12px;
    width: 30%;
    padding-right: 20px;
    line-height: 3.5;
}
.total-average{
    color: #3b448a;
    font-size: 11px;
    display: flex;
    justify-content: space-between;

}
.total-progress{
   

   

}
.bar{
     background-color:#9fb39f;
     width: 78px;

    }

.progress {
    background-color: #87cc85;
    height: 10px;
    border-radius: 6px;
    }

    

.avg-no{
    color: #127c10;
    font-weight: 500;
    padding-right: 30px;
    font-size: 15px;

}
.parameters{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    align-items: center;
    padding-left: 15px;
}

.parameter-detail{
    width: 70%;
    padding-right: 40px;
}
.parameter-details{
   display: flex;
   justify-content: space-between;
   font-size: 9px;
   color:#3b448a;
   padding-top: 20px;
   padding-bottom: 10px;

}
.parameter-items{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 20px;
   
}
progress{
    height: 15px;
}

h2{
  
    background-color: #3b448a;
    font-size: 11px;
    font-weight: 500;
    color: white;
    padding: 10px;
    border-radius: 4px;   
}

.details{
    display: flex;
}
.container3{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 6px;
    width: 350px;

}

.container4{
    width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.pending{
   
    color: black;
    background-color:#b2d1ff;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    margin-right: 5px;
    margin-bottom: 4px;
}
.sub-detail{
    display: flex;
}
.patient{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-left: 0;
    margin:10px;
}
img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

 }
 .names{
    padding-left: 10px;
    
 }
.border{
   border-left: solid;
    border-width: 8px;
    border-color: #127c10;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 10px;
}

select{
    border: none;
   

}
.nov{
    background-color: #bdbdbd;
    color: #000;
    font-size: 11px;
    text-align: center;
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 2px;
    margin-top: 10px;
}

.cc{
  background-color: #bdbdbd;
    color: #000;
    font-size: 11px;
    text-align: center;
    width: 40px;
    display: inline-block; 
    border-radius: 2px; 
}
small.procedure{
    font-size: 11px;
 padding-left: 5px;
 opacity: 0.5;

}
strong{
    padding-left: 10px;
    font-size: 11pxrge;
}
.patientContent{
   display: flex;
}

.time{
    margin-top:  20px;
    
    margin-right: 80px;
}

.hour{
    
    font-size: 11px;
    opacity: 0.5;
}

.bell{
    font-size: 11px;
}
.title{
    font-weight: 500;
   font-size: 11px;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    width: auto;
    margin-left: 10px;
    padding-left: 0;
    margin-right: 20px;
}

.request1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.availableRooms{
    padding: 50px;
    opacity: 0.5;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin:10px;
}

.dropItem{
    padding: 50px;
    opacity: 0.5;
    text-align: center; 
}

.headers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3b448a;
    font-size: 11px;
}

.header1, .header2, .header3{
  
    background-color:#b2d1ff;
    font-size: 11px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 229px;
    padding-left: 250px;
}
.header1{
    margin-right:1px ;
}
.header2{
    background-color: #c2e1fd;
    margin-right: 1px;
}

.patient-movement{
    margin-bottom: 5px;
    display: flex;
    height: 65px;
   }
.status{
    background: linear-gradient(to right, #00c6ff, #fcfdfd);
    margin-left: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 170px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.patient-details{
   width: 170px;
   background-color: #eef4fd;
}

.patient-movement-container{
    display: flex;
    color: #003cff;
    font-size: 11px;
    background-color: #b2d1ff;
   

   
}

.trackerHeading{
   width: 150px;
    display: flex;
    height: 30px;
    width: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.trackerTitle{
    align-content: center;
}

.title1{
    align-items: center;
    padding-left: 10px;
    width: 160px;
}

.space{
    height: 40px;
}

.sidebar{
    background-color: #191f4f;
   padding-left: 10px;
   float: left;
   width: 40px;
    height: 1000px;
   
}

.topbar{
  background-color: white;  
  color: #191f4f;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}